nav{
  background-color: antiquewhite;
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.header{
  padding: 20px;
}
form{
  padding: 10px;
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 10px;
}
.card{
  background-color: #fdfcf0;
  padding: 1px 0px;
  height: 26vh;
  width: 15vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

}
.container{
  display: flex;
  transform: translateX(10vh);
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
  gap: 25px;  
}
button{
  cursor: pointer;
}
.visible{
  display: block;
}
.non-visible{
  display: none;
}
.orders{
  width: 90vw;
  background-color: antiquewhite;
  flex-wrap: wrap;
}