.header {
  padding: 20px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  background-color: #fdfcf0;
  padding: 1px 0px;
  height: 26vh;
  width: 15vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

}

.container {
  display: flex;
  transform: translateX(10vh);
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
  gap: 25px;
}

button {
  cursor: pointer;
}

.visible {
  display: block;
}

.non-visible {
  display: none;
}

.orders {
  width: 90vw;
  background-color: antiquewhite;
  flex-wrap: wrap;
}

@media screen and (min-width: 300px) {
  .hero {
    font-size: 1.5rem;
  }

  .section {
    font-size: 2rem;
  }
}

@media screen and (min-width: 400px) {
  .hero {
    font-size: 1.6rem;
  }

  .section {
    font-size: 2rem;
  }
}

@media screen and (min-width: 500px) {
  .hero {
    font-size: xx-large;
  }

  .section {
    font-size: 3rem;
  }
}